{#
/**
 * @file domain_buy.html.twig
 * Default theme implementation to present Domain buy data.
 *
 * This template is used when viewing Domain buy pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_domain_buy()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('domain_buy') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
